<div class="jumbotron subhead">
  <div class="row">
    <div class="span12">
      <h3 style="line-height: 18px;"><%= @webpage.effective_url %></h3>
        <% if @webpage.effective_url != @webpage_request.url %>
        <h6 class="muted" style="padding-left: 1em;"><%= @webpage_request.url %></h6>
        <% end %>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills" id="navTabs">
      <li class="active"><a href="#overview_tab" data-target="#overview_tab" data-toggle="pill">Overview</a></li>
      <li><a href="#http_headers_tab" data-target="#http_headers_tab" data-toggle="pill">HTTP Headers</a></li>
      <li><a href="#view_source_tab" data-target="#view_source_tab" data-toggle="pill">View Source</a></li>
      <li><a href="#screenshot_tab" data-target="#screenshot_tab" data-toggle="pill">Screenshot</a></li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="overview_tab">
    <div class="row">
      <div class="span3">
        <table class="table table-condensed table-bordered table-hover">
          <tr>
            <th>IP address</th>
            <td><%= @webpage.primary_ip %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="http_headers_tab">
    <div class="row">
      <div class="span1"></div>
      <div class="span10">
        <pre><%= @webpage_response.headers %></pre>
      </div>
      <div class="span1"></div>
    </div>
  </div>
  <div class="tab-pane" id="view_source_tab">
    <div class="row">
      <div class="span1"></div>
      <div class="span10">
        <%= raw display_html(@webpage.body) %>
      </div>
      <div class="span1"></div>
    </div>
  </div>
  <div class="tab-pane" id="screenshot_tab">
    <div class="row">
      <div class="span1"></div>
      <div class="span10">
        <p><a href="<%= @webpage.screenshot.url %>" target="new"><%= image_tag(@webpage.screenshot.url, class: "thumbnail span9") %></a></p>
      </div>
      <div class="span1"></div>
    </div>
  </div>
</div>

