.jumbotron.subhead
  .row
    .span12
      %h3{style: 'line-height: 18px;'}= @webpage.url
      - if @webpage.url != @webpage_request.url
        %h6.muted{style: 'padding-left: 1em;'}= @webpage_request.url
  .subnav
    %ul#navTabs.nav.nav-pills
      %li.active
        %a{'data-target' => '#overview_tab', 'data-toggle' => 'pill', href: '#overview_tab'} Overview
      %li
        %a{'data-target' => '#http_headers_tab', 'data-toggle' => 'pill', href: '#http_headers_tab'} HTTP Headers
      %li
        %a{'data-target' => '#view_source_tab', 'data-toggle' => 'pill', href: '#view_source_tab'} View Source
      %li
        %a{'data-target' => '#screenshot_tab', 'data-toggle' => 'pill', href: '#screenshot_tab'} Screenshot
.tab-content
  = render 'overview'
  = render 'http_headers'
  = render 'view_source'
  = render 'screenshot'