<div class="jumbotron subhead">
  <div class="row">
    <div class="span12">
      <h3 style="line-height: 18px;"><%= @webpage.url %></h3>
        <% if @webpage.url != @webpage_request.url %>
        <h6 class="muted" style="padding-left: 1em;"><%= @webpage_request.url %></h6>
        <% end %>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills" id="navTabs">
      <li class="active"><a href="#overview_tab" data-target="#overview_tab" data-toggle="pill">Overview</a></li>
      <li><a href="#http_headers_tab" data-target="#http_headers_tab" data-toggle="pill">HTTP Headers</a></li>
      <li><a href="#view_source_tab" data-target="#view_source_tab" data-toggle="pill">View Source</a></li>
      <li><a href="#screenshot_tab" data-target="#screenshot_tab" data-toggle="pill">Screenshot</a></li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <%= render 'overview' %>
  <%= render 'http_headers' %>
  <%= render 'view_source' %>
  <%= render 'screenshot' %>
</div>
