.row
  .col-xs-12
    .page-header
      %h3= @webpage.url
      - if @webpage.url != @webpage_request.url
        %small{style: 'padding-left: 1em;'}= @webpage_request.url
.row
  .col-xs-12
    %ul#navTabs.nav.nav-tabs.nav-justified
      %li.active
        %a{data: { target: '#overview_tab', toggle: 'tab' }, href: '#overview_tab'} Overview
      - if @webpage_response.headers.present?
        %li
          %a{data: { target: '#http_headers_tab', toggle: 'tab' }, href: '#http_headers_tab'} HTTP Headers
      - if @webpage.body.present?
        %li
          %a{data: { target: '#view_source_tab', toggle: 'tab' }, href: '#view_source_tab'} View Source
      - if @webpage.screenshot_url.present?
        %li
          %a{data: { target: '#screenshot_tab', toggle: 'tab' }, href: '#screenshot_tab'} Screenshot
    .tab-content
      = render 'overview'
      = render 'http_headers' if @webpage_response.headers.present?
      = render 'view_source' if @webpage.body.present?
      = render 'screenshot' if @webpage.screenshot_url.present?
