%h2.page-header Resend unlock instructions
= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  = f.full_error :unlock_token
  .form-group
    .col-xs-12.col-md-4
      = f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' }
  .form-group
    .col-xs-12.col-md-4
      = f.button :submit, 'Resend unlock instructions'
= render 'devise/shared/links'
