%header.navbar.navbar-default.navbar-fixed-top{role: 'banner'}
  .container
    .navbar-header
      %button.navbar-toggle{data: { target: '.navbar-collapse', toggle: 'collapse' }}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('header.png', alt: 'Filturl', class: 'img-responsive'), root_path, class: 'navbar-brand'
    %nav.navbar-collapse.collapse{role: 'navigation'}
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to(current_user.username || current_user.email, edit_user_registration_path)
          %li
            = link_to('Logout', destroy_user_session_path, method: 'delete')
        - else
          - if controller_name != 'sessions'
            %li
              = link_to('Login', new_user_session_path)
          - if controller_name != 'registrations'
            %li
              = link_to('Sign up', new_user_registration_path)
