<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Filturl" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Filturl" %>">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "144x144" %>
    <%= favicon_link_tag "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "114x114" %>
    <%= favicon_link_tag "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "72x72" %>
    <%= favicon_link_tag "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :type => "image/png", :sizes => "57x57" %>
    <%= favicon_link_tag "/apple-touch-icon.png", :rel => "apple-touch-icon", :type => "image/png" %>
    <%= favicon_link_tag "/favicon.png", :rel => "shortcut icon", :type => "image/png" %>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
