!!!
%html{lang: 'en'}
  %head
    - if chartbeat_enabled?
      :javascript
        var _sf_startpt=(new Date()).getTime()
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title= content_for?(:title) ? yield(:title) : "Filturl"
    %meta{name: 'description', content: content_for?(:description) ? yield(:description) : 'Filturl'}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag '/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144'
    = favicon_link_tag '/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'
    = favicon_link_tag '/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
    = favicon_link_tag '/apple-touch-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57'
    = favicon_link_tag '/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag '/favicon.png', rel: 'shortcut icon', type: 'image/png'
    = favicon_link_tag '/favicon.ico'
    = yield(:head)
    - if google_analytics_enabled?
      = render 'layouts/analytics/google_analytics'
  %body
    = render 'layouts/navigation'
    #main{role: "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield
    %footer
    - if chartbeat_enabled?
      = render 'layouts/analytics/chartbeat'
